<ul class="breadcrumb">
  <li><a href="<%= admin_members_path %>">Members</a> <span class="divider">/</span></li>
  <li class="active">New Member</li>
</ul>

<%# <%= render 'form', locals: {member: @member} %1> %>
