<p>Hi <%= @community.leader_first_name %>,</p>

<p>Someone has signed up for your missional community!</p>

<p>Here is their information:</p>

<b>Name</b>: <%= @member.name %></br>
<b>Email</b>: <%= @member.email %></br>
<b>Phone</b>: <%= @member.phone_number %></br>

<p>Please contact them in the next 48 hours, welcoming them to your missional community!</p>

Thank you,</br>
The Austin Stone Connections Directors</br>
www.austinstone.org
