@import 'theme'

.mc-header
  background-color: $color-background
  color: $color-text
  h2
    color: $color-text-header


.table tbody tr.hidden > td
  color: #aaaaaa

td.mc-kind
  width: 140px

table.attributes-table
  td
    padding: 4px 10px
    border-top: 1px solid #ccc
  td.attribute-name
    font-weight: bold
