<div id="communities">
  <div class="row">
    <div class="span12">
    </div>
  </div>
  <% content_for :data_table_search_left do %>
    <%= link_to "New Community", new_admin_community_path, class: "btn" %>
  <% end %>
  <%= render "admin/shared/data_table_search" %>

  <div class="row">
    <div class="span12">
      <%= render "admin/shared/communities_table" %>
    </div>
  </div>
</div>
