<div class="row">
  <div class="span6">
  </div>
  <div class="span6">
    <div class="datatable-custom-search">
      <input type="text" class="search-query" placeholder="Search">
    </div>
  </div>
</div>
