<ul class="breadcrumb">
  <li><a href="<%= admin2_communities_path %>">Communities</a> <span class="divider">/</span></li>
  <li class="active">New Community</li>
</ul>

<%= render 'form', locals: {community: @community} %>
