@import 'theme'

$num-marker-icons: 10
$size-marker-margin: 1px
$size-marker-width: 35px
$size-marker-height: 46px
$size-shadow-width: 36px
$size-shadow-height: 16px
$duration-fade: 250ms

// calculate the x background-position of a marker icon given its index
@function marker-icon-offset($index)
  @return -($index * ($size-marker-width + $size-marker-margin))

.campus-marker
  display: block
  position: absolute
  left: 0
  top: 0

  width: $size-marker-width
  height: $size-marker-height

  margin-top: -($size-marker-height)
  margin-left: -($size-marker-width / 2)

  background: image-url('markers.png') no-repeat 0 0
  background-size: (($size-marker-width + $size-marker-margin) * $num-marker-icons) $size-marker-height

  transition-property: opacity, margin-top
  transition-duration: 150ms

  opacity: 0.9

  background-position: marker-icon-offset(9) 0

  // raise the marker and change its icon
  &.campus-marker-selected
    background-position: marker-icon-offset(1) 0
    margin-top: -($size-marker-height + ($size-marker-height / 8))

  &:hover
    margin-top: -($size-marker-height + ($size-marker-height / 8))
    background-image: image-url('markers-hover.png')
    opacity: 1.0

    // don't animate when dimmed
    &.campus-marker-dimmed
      margin-top: -($size-marker-height)

.campus-marker-shadow
  display: block
  position: absolute
  left: 0
  top: 0

  width: $size-shadow-width
  height: $size-shadow-height

  margin-top: -($size-shadow-height) + 2px
  margin-left: -($size-marker-width / 4)

  background: image-url('markers-shadow.png') no-repeat 0 0
  background-size: ($size-shadow-width - 1) $size-shadow-height

// use high-resolution icons for retina displays
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
  .campus-marker
    background-image: image-url('markers@2x.png')

    &:hover
      background-image: image-url('markers-hover@2x.png')

  .campus-marker-shadow
    background-image: image-url('markers-shadow@2x.png')
