//= require leaflet
//= require Control.Loading
//= require MarkerCluster
//= require campus-marker

@import 'theme'

@mixin clearfix()
  *zoom: 1

  &:before, &:after
    content: ' '
    display: table

  &:after
    clear: both

*
  box-sizing: border-box

body
  font-family: $font-normal
  color: $color-text
  font-size: 14px

h1, h2, h3, h4, h5, h6
  font-family: $font-fancy
  color: $color-text-header
  margin: 0
  font-weight: normal
  text-transform: uppercase

h2
  font-size: 18px

// map takes up the entire screen, everything else overlays on top of it
#map
  position: fixed
  left: 0
  right: $size-sidebar-width
  top: 0
  bottom: 0

#sidebar
  position: fixed
  right: 0
  top: 0
  bottom: 0

  // nominal width of a mobile device in portrait
  width: $size-sidebar-width

  padding: $size-padding

  background-color: $color-background

.checkbox-filter
  position: relative

  font-family: $font-fancy
  font-size: 16px

  padding: 0.3em

  cursor: pointer

  input
    font-size: 14px

  label
    position: absolute
    left: 1.5em
    right: 0

    cursor: pointer

  &:hover
    color: black

  &~ .checkbox-filter
    padding-top: 0.2em
    padding-bottom: 0.2em

.checkbox-only
  position: absolute
  right: 0.3em
  top: 0.3em

  font-size: 0.8em

  color: #999999

#filters
  position: absolute

  top: $size-padding
  right: $size-padding
  left: $size-padding
  height: $size-filters

  // filter tab headers
  nav
    @include clearfix()

    a
      display: block
      float: left

      text-align: center

      width: 33.3333%
      padding: 0.3em

      font-family: $font-fancy
      font-size: 16px
      text-decoration: none
      color: $color-text-header

      &.selected
        background-color: $color-background-light

      &:hover
        background-color: $color-background-light

.filter-tab-content
  border-top: 1px solid $color-text-header

  height: 100%
  padding-top: 0.3em

  overflow: auto
  overflow-x: hidden

.filter-tab
  // hidden until selected
  display: none

  position: absolute
  top: 2.15em
  left: 0
  right: 0
  bottom: 0

  padding: 1em

  background-color: $color-background-light

  &.selected
    display: block

#search-results
  display: block
  list-style-type: none
  overflow: auto
  overflow-x: hidden

  margin: 0
  padding: 0

  position: absolute
  top: $size-filters + 2 * $size-padding
  bottom: $size-padding
  left: $size-padding
  right: $size-padding

.community-search-result
  padding: $size-padding

  background-color: $color-background-light

  // tell the user they can click the results to see more info
  cursor: pointer

  transition: background-color, 200ms

  header
    font-family: $font-fancy
    font-size: 18px
    color: $color-text-header

  address
    font-family: $font-fancy
    margin-top: 0.4em
    margin-bottom: 0.8em

  &~ .community-search-result
    margin-top: $size-padding

  // gently highlight the selected result
  &.selected
    background-color: lighten($color-highlight, 30%)

    // revert the cursor once selected
    cursor: auto

    .community-search-result-long-info
      max-height: 600px

  &:hover
    background-color: lighten($color-highlight, 30%)

.community-search-result-short-info
  font-family: $font-fancy
  font-size: 14px
  color: $color-text

.community-search-result-frame
  width: 100%

  // this gets set in JavaScript once we determine how tall the frame is
  height: 0

  transition: height 300ms

// hide until shown when selected
.community-search-result-long-info
  max-height: 0
  overflow: hidden
  transition-property: height, max-height
  transition-duration: 300ms

.community-search-result-host-day
  text-transform: capitalize

.community-search-result-sign-up-button
  display: inline-block

  padding: 0.4em
  padding-left: 1.6em
  padding-right: 1.6em

  font-family: $font-fancy
  background-color: $color-highlight
  color: black
  text-decoration: none
  text-transform: uppercase

  transition-property: padding-left, background-position
  transition-duration: 150ms

  // make sure the loading image is ready BEFORE the button is marked 'loading'
  background-image: image-url('loading-signup.gif')
  background-repeat: no-repeat
  background-position: -20px center

.loaded .community-search-result-sign-up-button
  display: none

.loading .community-search-result-sign-up-button
  background-position: 0.5em center
  padding-left: 2.0em
