//= require leaflet
//= require Control.Loading
//= require campus-marker

$font-normal: 'rooney-web', 'Georgia', 'Times', serif
$font-fancy: 'franklin-gothic-urw-cond', 'Arial Narrow', Arial, Helvetica, Verdana, sans-serif

$size-filters: 255px
$size-padding: 15px

$color-highlight: #ffdd00
$color-background: #dfded2
$color-background-light: white
$color-text: #424242
$color-text-header: #365871
$color-text-title: black

// marker colors for the campuses (taken from markers image)
$color-campus-dtam: #d63e2a
$color-campus-dtpm: #a23336
$color-campus-stjam: #0067a3
$color-campus-stjpm: #436978
$color-campus-south: #f69730
$color-campus-west: #728224

@mixin clearfix()
  *zoom: 1

  &:before, &:after
    content: ' '
    display: table

  &:after
    clear: both

*
  box-sizing: border-box

body
  font-family: $font-normal
  color: $color-text
  background-color: $color-background
  font-size: 14px

h1, h2, h3, h4, h5, h6
  font-family: $font-fancy
  color: $color-text-header
  margin: 0
  font-weight: normal
  text-transform: uppercase

h2
  font-size: 18px

// map takes up the entire screen, everything else overlays on top of it
#map
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0

#sidebar
  position: fixed
  right: 0
  top: 0
  bottom: 0

  // nominal width of a mobile device in portrait
  width: 320px

  padding: $size-padding

  $color: $color-background-light
  background-color: $color
  background-color: rgba($color, 0.8)

.checkbox-filter
  position: relative

  font-family: $font-fancy
  font-size: 16px

  padding: 0.3em

  cursor: pointer

  input
    font-size: 14px

  label
    margin-left: 0.1em
    padding-left: 0.3em
    cursor: pointer

  &:hover
    color: black

  &~ .checkbox-filter
    padding-top: 0.2em
    padding-bottom: 0.2em

.checkbox-only
  position: absolute
  right: 0.3em
  top: 0.3em

  font-size: 0.8em

  color: #999999

// give campus filter checkboxes colors to match their markers
$size-campus-label-border: 10px
.checkbox-filter-campus-dtam label
  border-left: $size-campus-label-border solid $color-campus-dtam
.checkbox-filter-campus-dtpm label
  border-left: $size-campus-label-border solid $color-campus-dtpm
.checkbox-filter-campus-stjam label
  border-left: $size-campus-label-border solid $color-campus-stjam
.checkbox-filter-campus-stjpm label
  border-left: $size-campus-label-border solid $color-campus-stjpm
.checkbox-filter-campus-south label
  border-left: $size-campus-label-border solid $color-campus-south
.checkbox-filter-campus-west label
  border-left: $size-campus-label-border solid $color-campus-west

#filters
  position: absolute

  top: $size-padding
  right: $size-padding
  left: $size-padding
  height: $size-filters

  // filter tab headers
  nav
    @include clearfix()

    a
      display: block
      float: left

      text-align: center

      width: 33.3333%
      padding: 0.3em

      font-family: $font-fancy
      font-size: 16px
      text-decoration: none
      color: $color-text-header

      $color: $color-background-light
      &.selected
        background-color: $color
        background-color: rgba($color, 0.8)

      &:hover
        background-color: $color
        background-color: rgba($color, 0.8)

.filter-tab-content
  border-top: 1px solid $color-text-header

  height: 100%
  padding-top: 0.3em

  overflow: auto
  overflow-x: hidden

.filter-tab
  // hidden until selected
  display: none

  position: absolute
  top: 2em
  left: 0
  right: 0
  bottom: 0

  padding: 1em

  $color: $color-background-light
  background-color: $color
  background-color: rgba($color, 0.8)

  &.selected
    display: block

#search-results
  display: block
  list-style-type: none
  overflow: auto
  overflow-x: hidden

  margin: 0
  padding: 0

  position: absolute
  top: $size-filters + 2 * $size-padding
  bottom: $size-padding
  left: $size-padding
  right: $size-padding

.community-search-result
  padding: $size-padding

  transition: background-color, 300ms

  $color: $color-background-light
  background-color: $color
  background-color: rgba($color, 0.8)

  &~ .community-search-result
    margin-top: $size-padding

  // gently highlight the selected result
  &.selected
    $color: lighten($color-highlight, 25%)
    background-color: $color
    background-color: rgba($color, 0.8)

  header
    font-family: $font-fancy
    font-size: 18px
    color: $color-text-header

  .community-search-result-short-info
    font-family: $font-fancy
    font-size: 14px
    color: $color-text

  .community-search-result-long-info
    // TODO

.community-host-day
  text-transform: capitalize
