//= require leaflet

@import "css3-mixins";

$font-normal: 'rooney-web', 'Georgia', 'Times', serif;
$font-fancy: 'franklin-gothic-urw-cond', 'Arial Narrow', Arial, Helvetica, Verdana, sans-serif;

$color-highlight: #ffdd00;
$color-background: #ffdd00;
$color-background-light: white;
$color-text: #424242;
$color-text-header: #365871;
$color-text-header: black;

* {
  @include box-sizing(border-box);
}

body {
  font-family: $font-normal;
  color: $color-text;
  background-color: $color-background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-fancy;
  color: $color-text-header;
  margin: 0;
}

// map takes up the entire screen, everything else overlays on top of it
#map {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#search {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;

  padding: 15px;

  background-color: white;
  background-color: rgba(white, 0.8);
}

#input-search {
  width: 100%;
}
