//= require leaflet
//= require leaflet.ie
//= require Control.Loading
//= require MarkerCluster
//= require campus-marker

@import 'theme'

$size-filters-footer: 2em

@mixin clearfix()
  *zoom: 1

  &:before, &:after
    content: ' '
    display: table

  &:after
    clear: both

*
  box-sizing: border-box

// make the HTML just tall enough to allow us to disable the iOS address bar
html
  box-sizing: content-box
  height: 100%

  // large enough for the iOS chrome to get scrolled past
  padding-bottom: 60px

body
  font-family: $font-normal
  color: $color-text
  font-size: 14px

h1, h2, h3, h4, h5, h6
  font-family: $font-fancy
  color: $color-text-header
  margin: 0
  font-weight: normal
  text-transform: uppercase

h2
  font-size: 18px

// the button used for sign-up and form reset
.custom-button
  // reset all its styles so we can get it down to 'blank'
  display: inline-block
  background: none
  border: none
  border-radius: 0
  margin: 0
  padding: 0

  padding: 0.4em
  padding-left: 1.6em
  padding-right: 1.6em

  user-select: none

  font-family: $font-fancy
  color: black
  text-decoration: none
  text-transform: uppercase

  transition: all 150ms

  background-color: white

  // make sure the loading image is ready BEFORE the button is marked 'loading',
  // so there's no load lag while it's fetched from the server.
  background-image: image-url('loading-white.gif')

  // hide the loading spinner off-screen until it's needed (if it's needed)
  background-repeat: no-repeat
  background-position: -20px center

  &~ .custom-button
    margin-left: 0.5em

  &:hover
    background-color: grey

  &:active
    background-color: darkgrey
    box-shadow: 0 0.1em 0.3em rgba(black, 0.2) inset

// display the loading button depending on the state of the container it's in
.loaded .custom-button-loadable
  // hide loaded buttons
  display: none

.loading .custom-button-loadable
  // show the loading spinner while loading
  background-position: 0.5em center
  padding-left: 2.0em

// the button that tries to exude an "i'm important!" aura
.custom-button-yellow
  background-color: $color-highlight
  background-image: image-url('loading-yellow.gif')

  &:hover
    background-color: lighten($color-highlight, 10%)

  &:active
    background-color: darken($color-highlight, 2%)

// the button that tries to exude an "i'm important!" aura
.custom-button-grey
  background-color: lighten($color-background, 5%)
  background-image: image-url('loading-grey.gif')

  &:hover
    background-color: lighten($color-background, 7%)

  &:active
    background-color: darken($color-background, 3%)

// map takes up the entire screen, everything else overlays on top of it
#map
  position: fixed
  left: 0
  right: $size-sidebar-width
  top: 0
  bottom: 0

#sidebar
  position: fixed
  right: 0
  top: 0
  bottom: 0

  width: $size-sidebar-width
  padding: $size-padding

  background-color: $color-background

  border-left: 1px solid darken($color-background, 20%)

.checkbox-filter
  position: relative

  font-family: $font-fancy
  font-size: 16px

  padding-top: 0.2em
  padding-bottom: 0.2em

  // leave room for the 'only' button
  padding-right: 2em

  cursor: pointer

  input
    font-size: 1em
    margin-right: 0.2em

  label
    // make it take up all of the space so it's easier to toggle the filter
    display: inline-block
    width: 100%

    cursor: pointer

    &:hover
      color: black

.checkbox-only
  position: absolute
  right: 0.3em
  top: 0.3em

  font-size: 0.8em

  color: #999999

#filters-header
  // the header is shown only for smaller devices
  display: none

#filters
  position: absolute

  top: $size-padding
  right: $size-padding
  left: $size-padding
  height: $size-filters

  background-color: $color-background

  // filter tab headers
  nav
    @include clearfix()

    a
      display: block
      float: left

      text-align: center

      width: 33.3333%
      padding: 0.3em

      // make sure the bottoms extend beneath the filter tabs, so there's no gap
      padding-bottom: 1em

      font-family: $font-fancy
      font-size: 16px
      text-decoration: none
      color: $color-text-header

      &.selected
        background-color: $color-background-light

      &:hover
        background-color: $color-background-light

#filters-footer
  position: absolute
  bottom: 0
  left: 0
  right: 0

  background-color: $color-background-light

  height: $size-filters-footer
  line-height: $size-filters-footer
  padding-left: 0.9em
  padding-right: 0.9em

  border-top: 1px solid $color-background

  font-size: 16px
  font-family: $font-fancy

  label
    display: inline-block
    width: 90%
    cursor: pointer

    &:hover
      color: black

.mobile-header
  text-align: center
  line-height: 1.5em
  background-color: white
  margin-bottom: $size-padding-mobile

  cursor: pointer

.filter-tab-content
  height: 100%

  overflow: auto
  overflow-x: hidden

.filter-tab
  // hidden until selected
  display: none

  position: absolute
  top: 2.15em
  left: 0
  right: 0
  bottom: $size-filters-footer

  padding: 1em
  padding-top: 0.5em
  padding-bottom: 0.5em

  background-color: $color-background-light

  &.selected
    display: block

#search-results
  display: block
  overflow: hidden

  position: absolute
  top: $size-filters + 2 * $size-padding
  bottom: $size-padding
  left: $size-padding
  right: $size-padding

  ul
    height: 100%

    list-style-type: none
    overflow: auto
    overflow-x: hidden

    margin: 0
    padding: 0

#search-results-header
  // hidden except on smaller devices, used to toggle to results from filters
  display: none

.community-search-result
  padding: $size-padding

  background-color: $color-background-light

  // tell the user they can click the results to see more info
  cursor: pointer

  transition: background-color, 200ms

  header
    font-family: $font-fancy
    font-size: 18px
    color: $color-text-header

  address
    font-family: $font-fancy
    margin-top: 0.4em
    margin-bottom: 0.8em

    a
      color: inherit
      text-decoration: none

      &:hover, &:active, &:visited
        color: inherit

      &:hover
        text-decoration: underline

  // delimit search results with a small margin to view the background through
  &~ .community-search-result
    margin-top: 1px

  // gently highlight the selected result
  &.selected
    background-color: lighten($color-highlight, 30%)

    // revert the cursor once selected
    cursor: auto

    .community-search-result-long-info
      max-height: 600px

  &:hover
    background-color: lighten($color-highlight, 30%)

.community-search-result-short-info
  font-family: $font-fancy
  font-size: 14px
  color: $color-text

.community-search-result-frame
  width: 100%

  // this gets set in JavaScript once we determine how tall the frame is
  height: 0

  transition: height 300ms

// hide until shown when selected
.community-search-result-long-info
  max-height: 0
  overflow: hidden
  transition-property: height, max-height
  transition-duration: 300ms

.community-search-result-host-day
  text-transform: capitalize

// hide filters behind a click and expand results for smaller devices
@media screen and (max-device-width: $media-mobile-min-width)
  // increase filter size to ease finger-tapping
  .checkbox-filter
    line-height: 1.8em

    input
      top: 0.6em

  // show both the headers, allowing the user to click them and toggle the panes
  #search-results-header
    display: block
  #filters-header
    display: block

  // make results take up the entire pane
  #search-results
    // reduce padding on mobile devices to increase usable space
    top: $size-padding-mobile
    right: $size-padding-mobile
    bottom: $size-padding-mobile
    left: $size-padding-mobile

    background-color: $color-background

    // can be hidden on mobile browsers
    &.disabled
      display: none

  #filters
    // expand filters to take up the entire space
    top: $size-padding-mobile
    right: $size-padding-mobile
    bottom: $size-padding-mobile
    left: $size-padding-mobile

    // remove the explicity-set height
    height: auto

    background-color: $color-background

    &.disabled
      display: none

  .filter-tab
    top: 4.5em

// change layout to top/bottom when too skinny
@media screen and (max-width: $media-portrait-min-width)
  $size-percent-width-sidebar: 55%

  #map
    left: 0
    right: 0
    top: 0

    // add just enough space to prevent a 1px line between the map and sidebar
    height: 100% - $size-percent-width-sidebar + 0.25%

  #sidebar
    right: 0
    left: 0
    bottom: 0
    top: auto

    height: $size-percent-width-sidebar
    width: 100%
