@import 'theme'

.form-field
  width: 100%

  &~ .form-field
    margin-top: 0.6em

  label
    display: block

    font-family: $font-fancy
    font-size: 14px
    color: $color-text-header

  input
    color: $color-text
    border: 1px solid lighten($color-text, 25%)

    width: 100%

    padding: 0.3em
    padding-left: 0.5em
    padding-right: 0.5em

#form-actions
  margin-top: 0.7em

#form-reset-button
  // bring its style in-line with the sign-up button
  vertical-align: -0.1em
