$font-normal: 'rooney-web', 'Georgia', 'Times', serif
$font-fancy: 'franklin-gothic-urw-cond', 'Arial Narrow', Arial, Helvetica, Verdana, sans-serif

$size-filters: 255px
$size-padding: 15px
$size-padding-mobile: $size-padding / 2
$size-sidebar-width: 330px

$color-highlight: #ffdd00
$color-background: #dfded2
$color-background-light: white
$color-text: #424242
$color-text-header: #365871
$color-text-title: black

$color-cluster-background: #436978
$media-portrait-min-width: 400px
$media-mobile-min-width: 720px
