<div class="row">
  <div class="span12">
    <h2>Dashboard</h2>
    <p>13 new members in your communities since you last logged in.</p>
  </div>
</div>

<div id="communities">
  <div class="row">
    <div class="span12">
      <h3>Your communities</h3>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= render "admin/shared/communities_table" %>
    </div>
  </div>
</div>
