<h1>Thanks for signing up, <%= @member.name %>!</h1>
<p>
  <%= @community.leader_first_name %>
  <% if @community.coleader_first_name %>or <%= @community.coleader_first_name %><% end %>
  will be in touch with you soon!
</p>
