<script type="text/x-mustache" id="template-community-search-result">
  <li data-id="{{id}}" data-campus="{{campus}}" class="community-search-result">
    <header>
      <span>{{leader_first_name}} {{leader_last_name}}</span>{{#coleader_first_name}}, <span>{{coleader_first_name}} {{coleader_last_name}}</span>{{/coleader_first_name}}
    </header>

    <div class="community-search-result-short-info">
      {{#kinds}}<span class="community-search-result-kind">{{.}}</span>, {{/kinds}}meets <span class="community-search-result-host-day">{{host_day}}s</span>
    </div>

    <div class="community-search-result-long-info">
      {{#address}}
      <address>
        {{line_1}} {{line_2}}<br />
        {{city}}, {{province}} {{postal}}
      </address>
      {{/address}}

      <a class="community-search-result-sign-up-button" href="/signup?community_id={{id}}" target="_blank" title="Sign Up">Sign Up</a>
    </div>
  </li>
</script>
