<script type="text/x-mustache" id="template-community-search-result">
  <li data-slug="{{slug}}" data-campus="{{campus}}" class="community-search-result">
    <header>
      <span class="leader-name">{{leader_name}}</span>
      <span class="coleader-name">{{coleader_name}}</span>
    </header>

    <p>Meets on {{day}}</p>
    <p>Meets on {{day}}</p>

    <div class="community-long-info">
    </div>
  </li>
</script>
