<section id="map"></section>

<div id="sidebar">

  <div id="filters">
    <nav>
      <a href="#" data-tab-id="filter-tab-campus">Campus</a>
      <a href="#" data-tab-id="filter-tab-day">Day</a>
      <a href="#" data-tab-id="filter-tab-kind">Kind</a>
    </nav>

    <div id="filter-tab-campus" class="filter-tab">
      <div class="filter-tab-content">
        <% Community::CAMPUSES.each do |campus, display_text| %>
          <%= render partial: 'checkbox_filter', locals: {
            value: campus,
            name: 'campus',
            display_text: display_text,
            checked: true,
          } %>
        <% end %>
      </div>
    </div>

    <div id="filter-tab-day" class="filter-tab">
      <div class="filter-tab-content">
        <% Community::DAYS.each do |day| %>
          <%= render partial: 'checkbox_filter', locals: {
            value: day,
            name: 'day',
            display_text: day.titleize,
            checked: true
          } %>
        <% end %>
      </div>
    </div>

    <div id="filter-tab-kind" class="filter-tab">
      <div class="filter-tab-content">
        <% Community::MC_KINDS.each do |mc_kind, display_text| %>
          <%= render partial: 'checkbox_filter', locals: {
            value: mc_kind,
            name: 'kind',
            display_text: display_text,
            checked: true,
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <ul id="search-results"></ul>
</div>
