<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Missional Community Finder | The Austin Stone Community Church</title>
    <%= stylesheet_link_tag "admin2", :media => "all" %>
    <%= csrf_meta_tags %>

    <%# enable HTML5 elements in old browsers %>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
  </head>
  <body>
    <header>
      <%= render "admin2/header" %>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
