<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Austin Stone MC Map</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>

    <%# enable HTML5 elements in old browsers %>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
  </head>
  <body>
    <main>
      <%= yield %>
    </main>

    <%= javascript_include_tag "application" %>
  </body>
</html>
